extends ../layout/common

block content
    h2.mb-4 Products

    - page = parseInt(page);

    nav(aria-label='Page navigation example')
        ul.pagination.justify-content-end
            if page > 1
                li.page-item
                    a.page-link(href='/products?page=' + (page - 1), tabindex='-1') Previous
            else
                li.page-item.disabled
                    a.page-link(href='#', tabindex='-1') Previous
                
            li.page-item
                a.page-link(href='/products?page=' + (page > 1 ? page - 1 : 1))
                    | #{page > 1 ? page - 1 : 1}
            li.page-item
                a.page-link(href='/products?page=' + (page > 1 ? page : 2)) 
                    | #{page > 1 ? page : 2}
            li.page-item
                a.page-link(href='/products?page=' + (page > 1 ? page + 1 : 3)) 
                    | #{page > 1 ? page + 1 : 3}
            li.page-item
                a.page-link(href='/products?page=' + (page + 1)) Next

    each item in products
        .card(style='width: 16.3rem; height: 25rem;' class='float-left m-2')
            img.card-img-top(src= item.image, alt='Product Image')
            .card-body
                h5.card-title= item.name
                p.card-text= item.description

    